@import url(reset.css);
:root {
  font-size: 14px;
  --dark-grey: #261f27;
  --medium-grey: #483c49;
  --light-grey: #a5a5a2;
  --lighter-grey: #dcdde5;
  --bright-blue: #1576ef;
  --light-blue: #f4f5ff;
}
body {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 0.592874649859944) 0%,
    rgba(252, 70, 107, 0.469625350140056) 100%
  );
}
.container {
  width: 1200px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 2px 18px 1px rgba(122, 122, 122, 1);
  background-color: white;
}

.section {
  width: 50%;
}

.section-right {
  padding: 0 75px;
}

.title {
  font-size: 2.5rem;
  color: var(--dark-grey);
}

.subtitle {
  color: var(--light-grey);
  padding: 20px 0 10px 0;
}

img {
  background-color: var(--light-blue);
  border-radius: 10px 0 0 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

label {
  color: var(--medium-grey);
  font-weight: 500;
}

input {
  border-radius: 5px;
  height: 40px;
  width: 200px;
  color: var(--medium-grey);
  font-weight: 300;
  border: 1.7px solid var(--lighter-grey);
}

input::placeholder {
  color: var(--light-grey);
  font-weight: 300;
}

input:focus {
  outline: none;
  border: 2px solid var(--medium-grey);
}

input:user-invalid {
  border: 2px solid red;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

button {
  height: 40px;
  width: 200px;
  background-color: var(--bright-blue);
  border: none;
  border-radius: 5px;
  color: white;
  margin: 25px 0 0 0;
  cursor: pointer;
}

.sign-in {
  margin: 5px 0 0 0;
  color: var(--light-grey);
}

.sign-in a {
  color: var(--bright-blue);
  padding: 0 5px;
  text-decoration: none;
}
